.fs-9{
    font-size: clamp(0.5625rem, 0.4875rem + 0.4vw, 0.9375rem);
}

.fs-92{
    font-size: clamp(0.8125rem, 0.7875rem + 0.1333vw, 0.9375rem);
}

.fs-10{
    font-size: clamp(0.625rem, 0.5375rem + 0.4667vw, 1.0625rem);
}

.fs-13{
    font-size: clamp(0.8125rem, 0.75rem + 0.3333vw, 1.125rem);
}

.hero-fs{
    font-size: clamp(0.6875rem, 0.575rem + 0.6vw, 1.25rem);
}

.fs-h1{
    font-size: clamp(0.9375rem, 0.5625rem + 2vw, 2.8125rem);
}

.fs-h2{
    font-size: clamp(0.8125rem, 0.5125rem + 1.6vw, 2.3125rem);
}

.fs-h4{
    font-size: clamp(0.9375rem, 0.875rem + 0.3333vw, 1.25rem);
}

.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10{
    margin-bottom: 10px;

}

.mb-5{
    margin-bottom: 5px;

}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.d-none{
    display: none;
}

.fw-100{
    font-weight: 100;
}

.fw-200{
    font-weight: 200;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.italic{
    font-style: italic;
}